certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
comtypes==1.4.10
docutils==0.21.2
filelock==3.17.0
fire==0.7.0
Flask==3.1.0
flask-cors==5.0.1
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
h11==0.16.0
h5py==3.13.0
httpcore==1.0.9
httpx==0.28.1
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
libclang==18.1.1
linkpreview==0.11.0
lz4==4.4.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.1
mtcnn==1.0.0
namex==0.0.8
numpy==2.0.2
opt_einsum==3.4.0
optree==0.14.1
packaging==24.1
pandas==2.2.3
phonenumbers==9.0.7
pillow==11.2.1
protobuf==5.29.5
PyAudio==0.2.14
pycparser==2.22
pygame==2.6.1
Pygments==2.18.0
PyMySQL==1.1.1
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.9.0.post0
requests==2.32.3
SQLAlchemy==2.0.41
sqlparse==0.5.3
urllib3==2.2.2

