<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <img
        src="{{ url_for('static', filename='/img/edad4295c8a3a50ae36d30e4a8fef8c3.jpg') }}"
        class="pic"
      />

      <div class="wrapper">
        <div class="register">
          <h1>Register</h1>
          <form action="" method="post">
            <div class="txtbox">
              <label for="name">Name</label>
              <input type="text" name="username" />
            </div>
            <div class="txtbox">
              <label for="name">Password</label>
              <input type="password" name="password" />
            </div>
            <div class="txtbox">
              <label for="name"> Re-enter Password</label>
              <input type="password" name="password" />
            </div>
            <div>
              <button class="btn" type="submit">Register</button>
            </div>

            <div class="reg-link">
              <p>Already have an Account</p>
              <a class="loginlink" href="{{ url_for('login') }}">Login ?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
